<nav class="margin-top teal accent-3">
	<div class="nav-wrapper">
		<%= link_to "GEEKERZ", root_path , class: "margin-lr brand-logo black-text jackpot mediano hide-on-med-and-down" %>
		<%= link_to "GEEKERZ", root_path , class: "brand-logo black-text jackpot mediano hide-on-large-only brand-logo center" %>
		<a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><%= link_to "Articulos", "/articles", class: "black-text" %></li>
			<% @categories.each do |categoria| %>
				<li>
					<%= link_to categoria.name, categoria, class: "black-text" %>
				</li>
			<%end%>
			<% if user_signed_in? and current_user.is_editor? %>
				<li>
					<%= link_to "Administracion", "/dashboard", class: "red-text" %>
				</li>
			<%end%>
			<% if user_signed_in? %>
				<li>
					<%= link_to "Cerrar Sesion", destroy_user_session_path, class: "black-text", method: :delete %>
				</li>
			<%else%>
				<li>
					<%= link_to "Crear Cuenta", new_user_registration_path, class: "black-text" %>
				</li> 
				<li>
					<%= link_to "Iniciar Sesion", new_user_session_path, class: "black-text" %>
				</li>
			<%end%>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><%= link_to "Articulos", "/articles", class: "black-text" %></li>
			<% @categories.each do |categoria| %>
				<li>
					<%= link_to categoria.name, categoria, class: "black-text" %>
				</li>
			<%end%>
			<% if user_signed_in? and current_user.is_editor? %>
				<li>
					<%= link_to "Administracion", "/dashboard", class: "red-text" %>
				</li>
			<%end%>
			<% if user_signed_in? %>
				<li>
					<%= link_to "Cerrar Sesion", destroy_user_session_path, class: "black-text", method: :delete %>
				</li>
			<%else%>
				<li>
					<%= link_to "Crear Cuenta", new_user_registration_path, class: "black-text" %>
				</li> 
				<li>
					<%= link_to "Iniciar Sesion", new_user_session_path, class: "black-text" %>
				</li>
			<%end%>
		</ul>
	</div>
</nav>