<!DOCTYPE html>
<html>
<head>
	<title>Geekerz Blog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	
</head>
<body>
	
	<%= render "/partials/navigation" %>

	<p class="notice red-text"><%= notice %></p>
    <p class="alert orange-text"><%= alert %></p>


	<%= yield %>

	<script>
		$('.button-collapse').sideNav({
			menuWidth: 300, // Default is 240
			edge: 'left', // Choose the horizontal origin
			closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
		});
		// Hide sideNav
		$('.button-collapse').sideNav('hide');
	</script>

</body>
</html>
